.card-evento {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    width: 282px;
}

.card-evento p,
.card-evento h4 {
    margin: 0;
}

.card-evento .corpo {
    padding: 24px, 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}