.botao {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    padding: 8px 16px;
    background-color: #17D9B1;
    border: none;
    border-radius: 8px;
    color: #212121;
    cursor: pointer;
}

.botao:hover {
    opacity: 0.8;
}